@font-face {
    font-family: Jomolhari;
    src: url('../../Assets/Fonts/Jomolhari-Regular.ttf');
}

body{
    background-color: #434371;
    overflow-x: hidden;
}

.homePageBackground{
    background-image: linear-gradient(#23806D,#434371);
    background-size: cover;
    font-family: Jomolhari;
    color: white;
}

.headerFontSize{
    font-size: 80px;
}

.signOutBtn{
    font-size: 40px;
    border: none;
    color: white;
    background-color: transparent;
    /* position: absolute;
    left: 85%; */
}

.taskBox{
    width: 31%;
    min-height: 70vh;
    /* height: 100; */
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 200px;
}

.taskContainer{
    min-width: 100%;
    margin-top: 6%;
    font-family: Jomolhari;
    color: white;
}

.taskRow{
    margin-top: -205px;
    display: flex;
    flex-direction: column;
}

.toDoText{
    position: absolute;
    margin-top: -70px;
    margin-left: 1%;
    font-size: 48px;
}

.inProgressText{
    position: absolute;
    margin-top: -70px;
    margin-left: 68%;
    font-size: 48px;
}

.completedText{
    position: absolute;
    margin-left: 135%;
    margin-top: -70px;
    font-size: 48px;
}

.userTaskFontSize{
    font-size: 50px;
}